<div class="reveal-overlay" style="display: block" *ngIf="showPopInfo?.timer" (click)="onClearSaveTimer()">
    <div class="popup tiny reveal" id="saveData" data-reveal="2zjlve-reveal" role="dialog" aria-hidden="false" data-yeti-box="saveData" data-resize="saveData" style="display: block; top: 166px;" tabindex="-1" (click)="$event.stopPropagation()">
        <div class="popup-icon"><i class="be-icon" [ngClass]="showPopInfo?.successFunc ? 'be-icon-check-l' : 'be-icon-fail'"></i></div>
        <div class="popup-title text-center blod">{{ showPopInfo?.popmsg }}</div>
    </div>
</div>
