<!-- [START] Content ==================================================-->
<main class="main-container">
    <div class="main-wrap">
        <section class="ct_ctr blod">
        <div class="h1 h1Txt text-center large-blod">NEW APPLICATION</div>
        <div class="grid-x grid-margin-x">
            <div class="cell large-4">
            <div class="card shadow">
                <div class="card-divider heightHeader"><span>A. DETAILS OF MOTOR VEHICLE TO BE FINANCED</span></div>
                <div class="card-section">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Customer Type<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.customerType }} </p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Vehicle Condition<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.vehicleCondition }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Vehicle Type<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.vehicleType }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Make<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.brand }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Model<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{orderInfo?.vehicleModelName}}</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-divider"> <span>ADDITIONAL INFORMATION</span></div>
                <div class="card-section">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Vehicle Number<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.vehicleNumber }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-5 large-12 xlarge-5">
                        <p class="listName">Log Card  Attachment<span class="star">*</span></p>
                    </div>
                    <div class="cell small-7 large-12 xlarge-5"></div>
                    <div class="cell">
                        <div class="fileName" *ngFor="let doc of orderInfo?.supportingDocs | PreviewDocName: 'LogCard'">
                            <p>{{ doc.fileName }}</p>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-5 large-12 xlarge-5">
                        <p class="listName">Sales Agreement<span class="star">*</span></p>
                    </div>
                    <div class="cell small-7 large-12 xlarge-5"></div>
                    <div class="cell">
                        <div class="fileName" *ngFor="let doc of orderInfo?.supportingDocs | PreviewDocName: 'SalesAgreement'">
                            <p>{{ doc.fileName }}</p>
                        </div>
                    </div>
                    
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Additional  Structure<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.hasAdditionalStructure ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-divider"> <span>B. FINANCING DETAILS (PER UNIT)</span></div>
                <div class="card-section">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Price inclusive  GST<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.priceWithGst | currency }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Amount Financed<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.financedAmount | currency }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Financing Period (Months)<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.tenure | number }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Interest Rate (X% per annum)<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.interest | number }}</p>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">Monthly  Instalments<span class="star">*</span></p>
                    </div>
                    <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">{{ orderInfo?.monthlyInstallment | currency }}</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="cell large-8 grid-y">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 grid-x">
                <div class="card shadow">
                    <div class="card-divider"> <span>C. PERSONAL PARTICULARS OF APPLICANT</span></div>
                    <div class="card-section">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                        <p class="listName">MyInfo Status
                        </p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                        <p class="listValue">Pending
                        </p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">MyInfo<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.isMyInfo ? 'Yes' : 'No' }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Applicant Name<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.name }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">NRIC/Passport/ Company Reg. No*<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.nric }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Gender<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.gender }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Nationality<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.nationality }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Residential Status<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.residentialStatus }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Date of Birth<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.dateOfBirth | date:'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Postal Code<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.postalCode }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Address<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.address }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Unit Number<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.unitNumber }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Mobile Number<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.mobile }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Email Address<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.email }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Net Annual Income<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.netAnnualIncome | number }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Name of Employer/Self Employed<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.employerName }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Assessment Year<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.customer?.assessmentYear }}</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="cell large-6 grid-x">
                <div class="card shadow">
                    <div class="card-divider"> <span>D. DETAILS OF GUARANTOR</span></div>
                    <div class="card-section" *ngIf = "orderInfo?.guarantor">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">MyInfo Status</p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">Compeleted</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">MyInfo<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.isMyInfo ? 'Yes' : 'No' }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Applicant Name<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.name }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">NRIC/Passport/ Company Reg. No*<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.nric }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Gender<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.gender }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Nationality<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.nationality }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Residential Status<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.residentialStatus }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Date of Birth<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.dateOfBirth | date:'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Postal Code<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.postalCode }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Address<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.address }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Unit Number<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.unitNumber }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Mobile Number<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.mobile }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Email Address<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.email }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Net Annual Income<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.netAnnualIncome | number }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Name of Employer/Self Employed<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.employerName }}</p>
                        </div>
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-6 medium-4 large-12 xlarge-5">
                            <p class="listName">Assessment Year<span class="star">*</span></p>
                        </div>
                        <div class="cell small-6 medium-8 large-12 xlarge-7">
                            <p class="listValue">{{ orderInfo?.guarantor?.assessmentYear }}</p>
                        </div>
                    </div>
                    </div>

                    <div class="card-section text-center align-center" *ngIf = "!orderInfo?.guarantor">
                        <p>Without any guarantor  </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card shadow fileUploadCard">
                <div class="card-divider"> <span>FILE UPLOAD</span></div>
                <div class="card-section">
                    <p>
                        NRIC and Income Documents<span class="star">*</span> 
                        <a class="weblink-pagelink blod linelink text-red" (click)="generalDocsLimit = Infinity" *ngIf="(orderInfo?.supportingDocs | PreviewDocName: 'GeneralFile')?.length > 6">Show All</a>
                    </p>
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-4" *ngFor="let doc of orderInfo?.supportingDocs | PreviewDocName: 'GeneralFile' | First: generalDocsLimit">
                            <div class="fileName">
                                <p>{{ doc.fileName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="btncont">
            <input class="btncont-line" type="button" value="Edit Details" (click)="onEdit()">
            <input class="btncont-line" type="button" value="Download" (click)="onDownload()">
            <input class="btncont-bgimg" type="button" value="Submit" (click)="onSubmit()">
        </div>
        </section>
    </div>
</main>
