@font-face {
  font-family: "icon";
  src: url("icon.eot?1644899301787");
  src: url("icon.eot?#iefix-1644899301787") format("embedded-opentype"), url("icon.woff2?1644899301787") format("woff2"), url("icon.woff?1644899301787") format("woff"), url("icon.ttf?1644899301787") format("truetype"), url("icon.svg?1644899301787#icon") format("svg");
  font-display: block;
  unicode-range: U+EA01-EA16;
}

.be-icon:before {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  margin-left: .2em;
}

/* Glyphs list */
.be-icon-add:before {
  content: '\ea01';
}

.be-icon-arror-left:before {
  content: '\ea02';
}

.be-icon-arrow-todown-toyota-red:before {
  content: '\ea03';
}

.be-icon-arrow-todown:before {
  content: '\ea04';
}

.be-icon-arrow-toleft:before {
  content: '\ea05';
}

.be-icon-arrow-toright:before {
  content: '\ea06';
}

.be-icon-arrow:before {
  content: '\ea07';
}

.be-icon-calendar-toyota-red:before {
  content: '\ea08';
}

.be-icon-calendar:before {
  content: '\ea09';
}

.be-icon-check-l:before {
  content: '\ea0a';
}

.be-icon-check:before {
  content: '\ea0b';
}

.be-icon-download:before {
  content: '\ea0c';
}

.be-icon-eyes:before {
  content: '\ea0d';
}

.be-icon-eyes_no:before {
  content: '\ea0e';
}

.be-icon-fail:before {
  content: '\ea0f';
}

.be-icon-magnifier:before {
  content: '\ea10';
}

.be-icon-q-mark:before {
  content: '\ea11';
}

.be-icon-sequence-down:before {
  content: '\ea12';
}

.be-icon-sequence-top:before {
  content: '\ea13';
}

.be-icon-sequence:before {
  content: '\ea14';
}

.be-icon-trash-can:before {
  content: '\ea15';
}

.be-icon-upload:before {
  content: '\ea16';
}
