<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta name="robots" content="noindex, nofollow,noarchive,nosnippet,noimageindex,noodp">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/ico" href="https://begonia-design.com.tw/images/favicon.ico">
	<title>Icon Font - glyphs list</title>

	<!-- CSS -->
	<link rel="stylesheet" href="icons.css">
	<link rel="stylesheet" href="iconfont-demo.css">
</head>
<body>
<div class="wrapper" id="app">

	<header id="header">
		<div class="container">
			<div class="hd-top">
				<span class="t-title">使用說明文件：</span>
				<a href="https://docs.google.com/document/d/1o-waHPhJDr3yPD8cfRazkEjcxA7Ho1SVKK8pNGNb9Ig/edit?usp=sharing" target="_blank" class="tooltip" data-title="限海棠設計員工讀取">gulp-iconfont 使用方式</a>
			</div>
			<div class="hd-center">
				<h1 class="title">Icon Font<small class="t-tip"> - glyphs list</small></h1>
				<div class="hd-gulptip">
					<ul>
						<li><span class="t-title">font-family:</span> "icon";</li>
						<li><span class="t-title">Font class:</span> .be-icon</li>
					</ul>
					<p class="t-tip"><small>（於gulpfile.js調整設定）</small></p>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Container -->
	<main class="container" id="main">
		<!-- Show Type -->
		<div class="list-type-wrapper" id="list-type-wrapper">
			<div data-fixed-panel>
				<div class="amount">總計 <span class="num" ref="amountNum">(ﾟ∀ﾟ)</span> 個</div>
				<ul class="list-type">
					<li v-if="svgIconShow === 'html' || svgIconShow === 'pug'">
						<input type="checkbox" id="checkbox" class="checkbox" v-model="ariaHidden">
						<label for="checkbox">使用 aria-hidden</label>
					</li>
					<li v-if="svgIconShow === 'sass'">
						<input type="checkbox" id="checkbox" class="checkbox" v-model="showContent">
						<label for="checkbox">顯示 content</label>
					</li>
					<li v-for="item in selectOptions">
						<input type="radio" name="showtype" :id="'show-' + item.name" class="radiobox" :value="item.name" v-model="svgIconShow" checked>
						<label :for="'show-' + item.name">顯示 {{item.text}}</label>
					</li>
				</ul>
			</div>
		</div>

		<!-- List -->
		<ul class="glyphs-list">
			
			<li>
				<i class="be-icon be-icon-add"></i>
				<h4>add</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('add')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea01</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arror-left"></i>
				<h4>arror-left</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arror-left')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea02</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow-todown-toyota-red"></i>
				<h4>arrow-todown-toyota-red</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arrow-todown-toyota-red')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea03</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow-todown"></i>
				<h4>arrow-todown</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arrow-todown')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea04</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow-toleft"></i>
				<h4>arrow-toleft</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arrow-toleft')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea05</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow-toright"></i>
				<h4>arrow-toright</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arrow-toright')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea06</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow"></i>
				<h4>arrow</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('arrow')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea07</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-calendar-toyota-red"></i>
				<h4>calendar-toyota-red</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('calendar-toyota-red')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea08</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-calendar"></i>
				<h4>calendar</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('calendar')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea09</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-check-l"></i>
				<h4>check-l</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('check-l')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0a</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-check"></i>
				<h4>check</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('check')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0b</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-download"></i>
				<h4>download</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('download')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0c</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-eyes"></i>
				<h4>eyes</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('eyes')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0d</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-eyes_no"></i>
				<h4>eyes_no</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('eyes_no')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0e</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-magnifier"></i>
				<h4>magnifier</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('magnifier')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0f</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-q-mark"></i>
				<h4>q-mark</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('q-mark')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea10</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-sequence-down"></i>
				<h4>sequence-down</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('sequence-down')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea11</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-sequence-top"></i>
				<h4>sequence-top</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('sequence-top')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea12</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-sequence"></i>
				<h4>sequence</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('sequence')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea13</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-trash-can"></i>
				<h4>trash-can</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('trash-can')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea14</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-upload"></i>
				<h4>upload</h4>
				<div class="input-item">
					<input type="text" :value="svgIconInputVal('upload')">
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea15</code></p>
			</li>
			
		</ul>
		<!-- /.End List -->
	</main>

	<footer id="footer">
		© 2022 網頁設計的專家－ <a href="https://begonia-design.com.tw/" target="_blank">海棠網頁設計公司</a> ALL RIGHTS RESERVED
	</footer>

</div>
<!-- /.End .wrapper -->

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" crossorigin="anonymous"></script>
<script defer>
	(function(window, document){
		
		// Create Element.remove() function if not exist
		if (!('remove' in Element.prototype)) {
			Element.prototype.remove = function() {
				if (this.parentNode) {
					this.parentNode.removeChild(this);
				}
			};
		}

		// Copy to Clipboard
		var successMsg, clipTimer;

		function addCopySuccess(){
			if(successMsg == undefined){
				successMsg = document.createElement('div');
				successMsg.className = 'copysuctip';
				successMsg.innerText = '複製成功';
			}
			document.body.appendChild(successMsg);

			// Remove
			clearTimeout(clipTimer);
			clipTimer = null;
			clipTimer = setTimeout(function(){
				successMsg.remove();
				clipTimer = null;
			},3000);
		}

		var clipboard = new ClipboardJS('.btn-copy',{
			target: function(el) {
				return el.parentElement.querySelector('input');
			}
		});
		clipboard.on('success', addCopySuccess);

		var clipboard2 = new ClipboardJS('.copy-unicode',{
			text: function(el) {
				return el.innerText;
			}
		});
		clipboard2.on('success', addCopySuccess);


		// -----------------------------------
		// Change Type (Vue)
		var selectOptions = [
			{
				name: 'name', // radio value, vue判斷是否顯示該值基準(v-if="svgIconShow === 值")
				text: 'File Name', // radio 顯示名稱

				// input value值
				// * tag=要使用的HTML tag
				// * key=屬性值(一般專案為class、前端框架(Vue)專案可能會是不同值)
				// * name=檔案名稱
				// * mainClass為[一般專案]需求的主要class(fontClassName)[要由模板帶入值]
				code: 'name'
			},
			{
				name: 'class',
				text: 'class',
				code: 'mainClass mainClass-name'
			},
			{
				name: 'sass',
				text: 'SASS變數',
				code: 'content: $font-icon-name'
			},
			{
				name: 'html',
				text: 'HTML',
				code: '<tag key="mainClass mainClass-name" aria-hidden="true"></tag>'
			},
			{
				name: 'pug',
				text: 'Pug',
				code: 'tag.mainClass.mainClass-name(aria-hidden="true")'
			}
		];
		new Vue({
			el: '#app',
			data: {
				x: 'tag',
				svgIconShow: 'pug',
				selectOptions: selectOptions,
				ariaHidden: true,
				showContent: true,
				// Svg Icon 設定<tag key="icon值">
				settings: {
					tag: 'i',
					key: 'class',
					mainClass: 'be-icon',
				},
				iconLength: '21'
			},
			mounted: function() {
				var vm = this;
				setTimeout(function() {
					vm.$refs.amountNum.innerHTML = vm.iconLength
				}, 1000)
			},
			methods: {
				// 輸出 input value 值
				svgIconInputVal: function(icon) {
					var vm = this;
					var result = selectOptions.filter(function(val) { return val.name === vm.svgIconShow })[0];
					var val = result.code;
					val = val.replace(/name/gi, icon);
					val = val.replace(/tag/gi, vm.settings.tag);
					val = val.replace(/key=/gi, vm.settings.key + '=');
					val = val.replace(/mainClass/gi, vm.settings.mainClass);
					
					// 增加aria-hidden
					if(!vm.ariaHidden && (vm.svgIconShow === 'html' || vm.svgIconShow === 'pug')) {
						var regex = vm.svgIconShow === 'html' ? / aria-hidden="true"/gi : /\(aria-hidden="true"\)/gi
						val = val.replace(regex, '');
					}

					if(!vm.showContent) {
						val = val.replace(/content: /gi, '');
					}

					return val;
				}
			}
		});

		// -----------------------------------
		// Scroll and fixed navigation

		// Get Body Scroll Top (zh-Hant): http://www.eion.com.tw/Blogger/?Pid=1154
		function getScrollTop(){
			var bodyTop = 0;
			if (typeof window.pageYOffset != "undefined") {
				bodyTop = window.pageYOffset;

			} else if (typeof document.compatMode != "undefined"
						&& document.compatMode != "BackCompat") {
				bodyTop = document.documentElement.scrollTop;

			} else if (typeof document.body != "undefined") {
				bodyTop = document.body.scrollTop;
			}
			return bodyTop
		};

		var showTypeWrapper = document.querySelector('#list-type-wrapper');
		var showTypeWrapperOffsetTop = showTypeWrapper.getBoundingClientRect().top + getScrollTop();
		function scrollNav(){
			var ws = getScrollTop();
			if(ws > showTypeWrapperOffsetTop){
				showTypeWrapper.classList.add('is-fixed');
			}else{
				showTypeWrapper.classList.remove('is-fixed');
			}
		};
		window.addEventListener('scroll', scrollNav);

		// -----------------------------------
		//IE old version tip
		var userAgent = window.navigator.userAgent;  
		if (userAgent.indexOf("MSIE 7.0")>0 || userAgent.indexOf("MSIE 8.0")>0 || userAgent.indexOf("MSIE 9.0")>0 || userAgent.indexOf("MSIE 10.0")>0) {
			var ieTip = document.createElement('div');
			ieTip.className = "ie-tip";

			var ieTipSpan = document.createElement('span');
			ieTipSpan.innerHTML = "不支援此版本瀏覽器，請開發者更換支援度較高之瀏覽器。<br><small>（用IE開發是要毀滅世界嗎？ಠ_ಠ）</small>";
			ieTip.appendChild(ieTipSpan);

			document.body.appendChild(ieTip);
		}

	})(window, document);
</script>

</body>

</html>