<main class="main-container">
    <div class="main-wrap" [ngClass]= "{'animate' : !isAnimated }">
    <section class="index-pagetitle">
        <div class="ct_ctr">
        <h1 class="blod pagename">Home </h1>
        <div class="pagelink"> <a class="pagelink-box" href="#"> 
            <p class="text-center"><i class="be-icon be-icon-add"> </i>New PC
            </p></a><a class="pagelink-box" href="#"> 
            <p class="text-center"><i class="be-icon be-icon-add"> </i>New CV
            </p></a><a class="pagelink-box" href="#"> 
            <p class="text-center"><i class="be-icon be-icon-add"> </i>Used PC
            </p></a><a class="pagelink-box" href="#"> 
            <p class="text-center"><i class="be-icon be-icon-add"> </i>Used CV
            </p></a>
        </div>
        </div>
    </section>
    <section class="index-tabbox"> 
        <div class="ct_ctr">
        <ul class="tabbox tabs" id="SortBtn" data-tabs>
            <li class="tabs-title is-active"><a href="#TableList1" data-tabs-target="TableList1" aria-selected="true">All</a></li>
            <li class="tabs-title"><a href="#TableList2" data-tabs-target="TableList2">Approved</a></li>
            <li class="tabs-title"><a href="#TableList3" data-tabs-target="TableList3">Pending Approval</a></li>
            <li class="tabs-title"><a href="#TableList4" data-tabs-target="TableList4">Declined</a></li>
            <li class="tabs-title"><a href="#TableList5" data-tabs-target="TableList5">Draft</a></li>
            <li class="tabs-title"><a href="#TableList6" data-tabs-target="TableList6">Canceled</a></li>
            <li class="tabs-title"><a href="#TableList7" data-tabs-target="TableList7">Pending myInfo</a></li>
        </ul><a class="downloadlist show-for-large" (click)="onExport()"> <i class="be-icon be-icon-download"> </i>
            <div class="linelink blod">Export</div></a>
        </div>
    </section>
    <section class="index-tablelist" data-tabs-content="SortBtn"> 
        <div class="ct_ctr tabs-panel is-active" id="TableList1">
        <ul class="tablelist blod hide-for-large"> 
            <li class="title"><a class="text-center o-nbr" href="/">
                Order Number<i class="be-icon be-icon-sequence"></i></a><a class="text-center date" href="/">
                Application Date<i class="be-icon be-icon-sequence"></i></a><a class="text-center status" href="/">
                Status<i class="be-icon be-icon-sequence"></i></a>
            </li>
        </ul>
        <ul class="tablelist blod">
            <li class="title show-for-large"><a class="o-nbr" href="/">
                Order Number<i class="be-icon be-icon-sequence"></i></a><a class="date" href="/">
                Application Date<i class="be-icon be-icon-sequence"></i></a><a class="status" href="/">
                Status<i class="be-icon be-icon-sequence"></i></a>
            <div class="type">Type</div>
            <div class="v-nbr">Vehicle Number</div>
            <div class="name">Name</div>
            <div class="action">Action</div>
            </li>

            <li *ngFor="let orderItem of orderItems; let i = index"> 
                <div class="o-nbr"> <span class="mo_title hide-for-large">Order Number</span>{{ orderItem.orderNumber }}</div>
                <div class="date"><span class="mo_title hide-for-large">Application Date</span>{{ orderItem.applicationDate | DateTime }}</div>
                <div class="status"> <span class="mo_title hide-for-large">Status</span><span class="status-tag">{{ orderItem.status }}</span></div>
                <div class="type"><span class="mo_title hide-for-large">Type</span>{{ orderItem.vehicleType }}</div>
                <div class="v-nbr"><span class="mo_title hide-for-large">Vehicle Number</span>{{ orderItem.vehicleNumber }}</div>
                <div class="name"><span class="mo_title hide-for-large">Name</span>{{ orderItem.applicantName }}</div>
                <div class="action"> 
                    <a class="linelink" (click)="onView(orderItem.id)">View </a>
                    <a class="linelink show-for-large" (click)="onPrint(orderItem.id)">Print</a>
                </div>
            </li>

        </ul>
        <nav aria-label="Pagination">
            <ul class="pagination text-center">
            <li class="pagination-previous disabled"> <i class="be-icon be-icon-arrow-toleft"></i>&nbsp; Prev</li>
            <li class="current"><span class="show-for-sr"></span>1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a class="show-for-large" href="#" aria-label="Page 3">3</a></li>
            <li><a class="show-for-large" href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis"></li>
            <li><a class="show-for-large" href="#" aria-label="Page 12">12</a></li>
            <li><a class="show-for-large" href="#" aria-label="Page 13">13</a></li>
            <li><a href="#" aria-label="Page 14">14</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page" pagination-arrows="false">
                    Next &nbsp;<i class="be-icon be-icon-arrow-toright"></i></a></li>
            </ul>
        </nav>
        </div>
    </section>
    </div>
</main>
